
@import "_oa";

* {
  vertical-align: top;
  @include selection(rgba(150, 180, 230, 1.0000), rgba(237, 239, 244, 1.0000));
  @include font-smoothing(antialiased);

  &, &:after, &:before {
    @include box-sizing(border-box);
  }
}
.row {
  position: relative;
  display: inline-block;
  width: 100%;
  @include clearfix();

  $titleWidth: 130px;
  .title, .content {
    position: relative;
    display: inline-block;
    float: left;
    padding: 2px 10px;
    width: $titleWidth;
    text-align: right;
  }
  .title {
    &:after {
      content: ":";
      display: inline-block;
      position: relative;
    }
  }
  .content {
    text-align: left;
    width: calc(100% - #{$titleWidth});
  }
}

.posts {
  border: 1px solid rgba(255, 0, 0, .3);
  @include clearfix();

  .post {
    position: relative;
    display: inline-block;
    width: 300px;
    float: left;
    background-color: rgba(0, 0, 255, 0.2);
    margin: 5px;

    .title {
      border: 1px solid rgba(255, 0, 0, .3);
      @include overflow-docx3();
    }
    .content {
      word-wrap: break-word;
      border: 1px solid rgba(255, 0, 0, .3);
    }
  }
}